<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.buscaminas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.buscaminas.Principal"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                
        <activity 
            android:name="com.android.buscaminas.Niveles"
            android:label="@string/LevelSelector"
            
            android:screenOrientation="portrait">
           
            
        </activity>
        
        
        <activity 
            android:name="Ranking"
            android:label="@string/Ranking" 
            android:screenOrientation="landscape">
            
        </activity>
        
    	<activity 
    	    android:name="Instrucciones"
            android:label="@string/instrucciones"
    	    android:screenOrientation="portrait">
    	    
    	</activity>
        
        
        
        <activity 
            android:name="NivelPersonalizado"
            android:label="@string/NivelPersonalizado" >
            
        </activity>
    
        
        <activity 
            android:name="Buscaminas"
            android:label="Buscaminas" 
            android:screenOrientation="landscape">            
        </activity>
        
        <activity 
            android:name="BuscaminasBasico"
            android:label="@string/BuscaminasBasico" >
            
        </activity>
        
        
        <activity 
            android:name="BuscaminasNormal"
            android:label="@string/BuscaminasNormal" >
            
        </activity>
        
        <activity 
            android:name="BuscaminasExperto"
            android:label="@string/BuscaminasExperto" >
            
        </activity>
        
        <activity 
            android:name="Desarrolladores"
            android:label="Desarrolladores" 
            android:screenOrientation="landscape">
            
        </activity>
        
         <activity 
            android:name="IngresoNombre"
            android:label="IngresoNombre" 
            android:screenOrientation="portrait">
            
        </activity>
        
    </application>

</manifest>
